
@{
    ViewBag.Title = "Inexistentă";
}

<br />
<br />
    <h2>Carte inexistentă :(</h2>
    <h3>Cartea fie nu există fie nu se mai găsește la adresa căutată</h3>
<p>
    @Html.ActionLink("Înapoi la toate cărțile", "Index")
</p>
