<form>
    <div class="container">
        <section class="login_content">
            <div class="formDiv">
                <h3>Pentru rezervare este necasară intrarea în cont</h3>
                <div id="loginFormDivLoginMessage"></div>
                <div>
                    <input type="text" name="loginUserEmail" class="form-control has-feedback-left" id="loginUserEmail" placeholder="Utilizator" autocomplete="off" />
                </div>
                <div>
                    <input type="password" name="loginUserPassword" class="form-control has-feedback-left" id="loginUserPassword" placeholder="Parolă" />
                </div>
                <div>
                    <input type="button" onclick="login(); return false" name="btnUserLogin" value="Intră în cont" id="btnUserLogin" class="btn btn-default submit">
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        Nou pe site?
                        <a href="/Cont/Logare#signup" class="to_register">Crează-ți cont </a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</form>

<script src="~/Scripts/logare.min.js"></script>
