@{
    ViewBag.Title = "Contact:";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Facebook:</strong> <a href="https://www.facebook.com/www.reed.ro/"> Dând click aici </a><br /><br />
    <strong>Ințiator proiect- Roxana Liliana Chioran:</strong>
    <strong>Ințiator proiect- Adrian Nagy:</strong>   <a href="adrian1nagy@yahoo.com"> adrian1nagy@yahoo.com | 0752 393 716</a>
    <p>Adresă:
        STR. ÎNFRĂŢIRII, Nr. 42, TĂŞNAD, Jud. SATU-MARE
    </p>
    <p>
        Telefon: 
        0261-825 488
    </p>
</address>