
@{
    ViewBag.Title = "About";
}
<br />
<h2>Despre bibliotecă</h2>

<p>Despre activitatea bibliotecii publice, până în anul 1952, știrile sunt relativ reduse, deoarece arhivele au fost ditruse.</p>
<p>Din ”Historia Dosmus” aflată la parohia romano-catolică din localitate, reiese că, în anul 1908 exista o bibliotecă al cărui fond era înregistrat întrun registru inventar iar cărțile erau aranjate după un catalog alfabetic existent.</p>
<p>
    Biblioteca „Clubului Tineretului” a funcționat în clădirea Casei de Cultură iar fondul de carte se îmbogățea nu numai prin repartiție ci și prin sumele încasate în urma unor spectacole date, cât și din „taxa de carte” (1 leu pentru o carte împrumutată), ceea ce a determinat să existe un fond de cărți în jurul a 3000-4000 de volume în preajma celui de-al doilea război mondial cân d se încheie prima perioadă de activitate din istoria bibliotecii.
    În 1952 biblioteca își reia activitatea ca Bibliotecă Raională cu 3 bibliotecari salariați.
</p>
<p>Din 15.02.1961 până în 1.06.1968, biblioteca funcționează ca bibliotecă comunală, iar din anul 1968, când Tășnadul a devenit oraș, biblioteca funcționează cu denumirea de Bibliotecă Orășenească, având 2 salariați.</p>
<p>Clădire reabilitată în anul 2012 prin Programul național pentru reabilitarea, modernizarea și dotarea așezămintelor culturale din mediul mic urban.</p>
<p>Biblioteca are o sală de lectură cu 4 locuri, oferă împrumut la domiciliu și interbibliotecar, are catalog în format tradițional, 4 calculatoare cu acces la internet, oferă referințe bibliografice și bibliografii, referințe pe email, sesiuni de instruire a utilizatorilor, rezervări de publicații, programe și evenimente culturale, expoziții.</p>

